bootstrap-instances/*.key
bootstrap-instances/*.key.pub
bootstrap-instances/id_rsa
bootstrap-instances/id_rsa.pub
bootstrap-instances/gat-one-key-to-rule-them-all
bootstrap-instances/gat-one-key-to-rule-them-all.pub
